.togglebar a:first-child {
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	border-left-width: 2px;
}

.togglebar a:last-child {
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	border-right-width: 2px;
}

.togglebar a {
	border-width: 2px 1px 2px 1px;
	transition: all 0.3s;
}

.togglebar a:hover {
	background-color: #555;
	color: white;
}
